.volver{
    color: black;
    text-decoration: none;
}
a :hover{
    /* color: #FFF1C3; */
    color: rgb(95, 61, 87);
}
.subtitulo_productos{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    padding-top: 2em;
    width: 100%;
}
.producto{
    /* max-width: 40em; */
    /* max-width: 100%; */
    margin-top: 3em;
    padding-left: 5.8em;
    /* padding-rigth: 1em; */
    box-sizing: border-box;
}
.titulo_producto{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 1em;
    /* margin-left: 0.5em; */
}
.titulo_productoDos{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 1em;
    width: 80%;
}
.texto{
    /* width: 40em; */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 4em;
    padding-left: 7em;
}
.textoR{
    width: 35em;
}
.textoP {
    width: 90%;
}
.lineas{
   margin-bottom: 0;
   padding-left: 0em;
   /* margin-right: 0.5em; */
   width: 80%;
}
.cartaProducto{
    /* margin-left: 2em;
    margin-right: 2em; */
    display: flex;flex-direction: row;
    justify-content: center;
}


/* @media  screen and (max-width: 425px){
     .subtitulo_productos{
        margin-left: 1em;
    } 
     .producto{
        width: 21em;
        margin-top: 3em;
        margin-left: 2em;
    } 
    .titulo_producto{
        margin-left: 0;
    }
    .texto{
        margin-left: 2em;
    }
    .textoP{
        margin-left: 0;
        width: 22em;
    }
    .textoR{
        width: 22em;
    }
    .cartaProducto{
        margin-left: 1em;
    }
    .linea{
        width: 20em;
    }
} */
@media screen and (max-width: 992px) {
    .texto{
        padding-left: 4em;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .texto{
        padding-left: 2em;
    }
    .producto{
        margin-top: 3em;
        padding-left: 2em;
        padding-right: 2em;
        box-sizing: border-box;
    }
    .titulo_productoDos{
        font-size: 1.8em;
    }
    /* .linea{
        width: 20em;
    } */
}
@media screen and (max-width: 576.98px) {
    .texto{
        padding-left: 2em;
    }
    .producto{
        margin-top: 3em;
        padding-left: 2em;
        padding-right: 2em;
        box-sizing: border-box;
    }
    .titulo_productoDos{
        font-size: 1.5em;
        width: 85%;
    }
    .textoR{
        width: 90%;

    }
    .subtitulo_productos{
        font-size: 1.3em;
        padding-top: 2em;
        text-align: center;
    }
    /* .linea{
        width: 20em;
    } */
}