.volver{
    color: black;
    text-decoration: none;
}
a :hover{
    color: #FFF1C3;
}
.subtitulo_productos{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    padding-top: 2em;
    margin-left: 3.8em;
}
.producto{
    width: 43em;
    margin-top: 3em;
    margin-left: 4em;
}
.titulo_producto{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-left: 0.5em;
}
.titulo_productoDos{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.texto{
    width: 40em;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 4em;
    padding-left: 7em;
}
.textoP{
    margin-left: 1.7em;

}
.lineas{
   margin-bottom: 0;
}
.cartaProducto{
    margin-left: 2em;
    margin-right: 2em;
}


@media  screen and (max-width: 425px){
    .subtitulo_productos{
        margin-left: 1em;
    }
    .producto{
        width: 21em;
        margin-top: 3em;
        margin-left: 2em;
    }
    .titulo_producto{
        margin-left: 0;
    }
    .texto{
        margin-left: 2em;
    }
    .textoP{
        margin-left: 0;
        width: 22em;
    }
    .textoR{
        width: 22em;
    }
    .cartaProducto{
        margin-left: 1em;
    }
    .linea{
        width: 20em;
    }
}
@media screen and (max-width: 992px) {
    .texto{
        padding-left: 4em;
    }
}
@media screen and (max-width: 768px) {
    .texto{
        padding-left: 2em;
    }
}