@import "footer";
@import "productos";
@import "header";
@import "inicio";
@import "nosotros";
@import "mediaqueries";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.general{
    padding-left: 0em;
}
.titulo_catalogo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    padding-top: 1.3em;
    padding-left: 0;
    /* padding-top: 2em; */
    margin-bottom: 2.3rem;
}
.subtitulo_catalogo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.05em;
    margin-bottom: 1.2em;

}
.categorias{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.15em;
    line-height: 2.1em;
}
.borde{
    border-right: 2px rgba(156, 156, 156, 0.63) solid;
    height: 25em;
    /* margin-right: 1em; */
}
.borde a{
    color: black;
    text-decoration: none;
}
.catalogo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    padding-top: 2.05em;
    padding-left: 0.5em;
    /* margin-left: 5em; */
}
.contenido{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 7em;
}
.carta{
    width: 21.8em;
    margin-top: 2.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.carta-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.05em;
}
.cartaSeccion{
    margin-left: 4em;
}



@media  screen and (max-width: 425px){
    .general{
        padding-left: 0em;
    }
    .cartaSeccion{
        margin-left: 0;
        margin-right: 1em;
    }
    
}
@media  screen and (min-width: 1200px){
    .botonesSeleccion {
        width: 19.9%;
        /* margin-right: 1em; */
    } 
    .miCol10{
        width: 80.1% !important;
    } 
    
}
@media screen and (max-width: 768px) {
    .categorias {
        font-size: 1.1em;
        line-height: 1.6em;
    }
    .titulo_catalogo {
        padding-top: 0.5em;
        margin-bottom: 2rem;
        
    }
    .contenido {
        justify-content: center;
        padding-left: 0;
}
.catalogo{

    padding-top: 1em;
    /* margin-left: 5em; */
    display: flex;
    flex-direction: row;
    
}
}
/* @media  screen and (min-width: 992px) and (max-width: 1350px){
    .cartaSeccion{
        margin-left: 2em;
    } 
} */